@dot-size: 3em;
@border-radius: 2em;
@game-background: #E1AD01;
@border-style: 1px solid black;
@margin-size: 10px;
@margin-game-area: 20px;
@dot-margin: calc(@dot-size / 2);


.jumbotron {
  height: 100vh;
  margin-bottom: 0;
}

h1 {
  text-align: center;
}

label {
  display: block;
}

body {
  padding: 0!important;
  margin: 0!important;
  color: white!important;
  background-color: @game-background!important;

  .game-container {
    margin: auto;
    border: @margin-size solid @game-background;
    border-radius: @border-radius;
    padding: @border-radius;
    background-image: url('/assets/wood.jpg');
    background-size: cover;


    .input-container {
      margin-top: @margin-game-area;
      border-radius: @border-radius;
      padding: @border-radius;
      background-color: lightgoldenrodyellow;

      .select-container {
        float: left;
        margin-right: @margin-size;
        margin-bottom: @margin-size;
      }

      .square-div {
        width: @dot-size;
        height: @dot-size;
        border-radius: 100%;
      }

      .result-dot {
        border: @border-style;
        margin-top: calc(@dot-margin / 2);
        width: @dot-margin;
        height: @dot-margin;
        border-radius: 100%;
      }

      #gameArea, #previous {
        margin-top: @margin-game-area;
      }

      #sendButton {
        margin-top: @dot-margin;
        display: none;
      }
    }
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
  max-height: calc(@dot-size * 4.5);
  overflow: auto;
  width: @dot-size;
  float: left;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  & li {
    cursor: pointer;
    height: @dot-size;
    border-left: @border-style;
    border-right: @border-style;
    border-bottom: @border-style;
  }
}

