@square-size: 40px;
@border-radius: 30px;
@game-background: #E1AD01;

.square-input {
  width: @square-size;
  height: @square-size;
}

h1 {
  text-align: center;
}

label {
  display: block;
}

.ui-select {
  width: 100%
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

@-moz-document url-prefix() {
  .ui-select {
    border: 1px solid #CCC;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
  .ui-select select {
    width: 110%;
    background-position: right 30px center !important;
    border: none !important;
  }
}

option {
  font-size: @square-size;
}

#gameArea {
  margin-top: 20px;
}

.game-container {
  margin: auto;
  width: 50%;
  border: 10px solid @game-background;
  border-radius: @border-radius;
  padding: @border-radius;
  background-color: white;
}

body {
  background-color: @game-background!important;
}
