@background-color: lightskyblue;
@border-style: 1px solid black;
@square-size: 38px;
@scrollbar-width: 17px;
@option-style: {
  background-color: #343a40;
  color: white;
  text-align: center;
}
@icon-margin: 10px;

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;

  & p {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;

    & i {
      margin-right: @icon-margin;
    }

    &:hover {
      cursor: pointer;
      color: #f1f1f1;
      border: 1px solid white;
    }
  }

  & .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

#main {
  height: calc(100vh - 56px);
  overflow: auto;
  background-color: @background-color;
}

#loginWrapper {
  height: 100vh;
  background-color: @background-color!important;
  padding: 0!important;
  margin: 0!important;
}

#loginContainer {
  margin: auto;
}

.fas {
  & span {
    margin-left: @icon-margin;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    & li {
      font-size: 18px;
    }
  }
}

.square-div {
  width: @square-size;
  height: @square-size;
  @option-style();
  & i {
    margin-top: calc(@square-size / 4);
  }
}

#iconList {
  list-style-type: none;
  padding-left: 0;
  max-height: calc(@square-size * 4.5);
  overflow: auto;
  @option-style();
  width: calc(@square-size + @scrollbar-width);
  & li {
    width: @square-size;
    cursor: pointer;
    height: @square-size;
    border-left: @border-style;
    border-right: @border-style;
    border-bottom: @border-style;
    & i {
      margin-top: calc(@square-size / 4);
    }
  }
}
#selectIcon {
  margin-right: 5px;
}

:root{
  scrollbar-face-color: rgb(210,210,210); /* Firefox 63 compatibility */
  scrollbar-track-color: rgb(46,54,69); /* Firefox 63 compatibility */
  scrollbar-color: rgb(210,210,210) rgb(46,54,69);
  scrollbar-width: thin;

}

::-webkit-scrollbar {
  width: @scrollbar-width;
}

::-webkit-scrollbar-track {
  background: rgb(46,54,69);
}

::-webkit-scrollbar-thumb {
  background:rgb(210,210,210);
}
